<!DOCTYPE HTML>
<html>
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Test</h1>

{{#userName1}}
    Logged in as: <span id="user">{{userName1}}</span>
    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
{{/userName1}}
{{^userName1}}
    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
    <a href="/oauth2/authorization/kakao" class="btn btn-secondary active" role="button">Kakao Login</a>
    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
{{/userName1}}
</body>
</html>