<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
Test

<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=3242414d0cbf0ca5fefda3c8d1548ab4&redirect_uri=http://localhost/login/oauth2/code/kakao" class="btn btn-secondary active" role="button">Kakao Login</a>

<script>

</script>
</body>
</html>